body{h1{
      text-align: center;
  }
h2{
    text-align: center;
}
h3{
      text-align: center;
  }
h4{
    text-align: center;
}}

body{background-color: #6eb1c5;
    color: #000000;}
.lñ{background-color: #5681df;
    color: black;}
.img1{text-align: center
    ;}
