body{h1{
      text-align: center;
  }
h2{
    text-align: center;
}
h3{
      text-align: center;
  }
h4{
    text-align: center;
}}

body{background-color: #ffffff;
    color: #000000
    ;}

.lñ{background-color: aquamarine;
    color: black
    ;}

.encabezado{
    background-color: aquamarine;
    float: left;
    line-height: 30px;
}

.img1{text-align: center;
}

.mil{
    align-items: center;
    position: absolute;
    float: center;
}

.dosmil{
    align-items: center;
    position: absolute;
    float: left;
}

.tresmil{
    align-items: center;
    position: absolute;
    float: right;
}